/* google fonts  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* common styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* container section  */

.container {
  width: 100%;
  height: 677px;
  background: #2d25a0;
  margin-bottom: 100px;
}

/* header section  */

.main {
  width: 100%;
  height: 50px;
  display: flex;

  align-items: center;
}
/* navbar */

.navbar {
  display: flex;
  margin-top: 30px;
  align-items: center;
}
.nav-links ul {
  display: flex;
  list-style-type: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
}

.nav-links ul li a:hover {
  color: red;
  transition: 1s ease;
}

/* login button  */
.login {
  display: flex;
  align-items: center;
  color: #fff;
  background: #e02c6d;
  width: 123px;
  height: 44px;
  justify-content: space-evenly;

  margin-left: 350px;
}

/* banner  */

.banner-section {
  display: flex;
}

/* banner title  */

.banner-title {
  width: 485px;
  height: 230px;
  font-size: 40px;
  line-height: 86px;
  color: #fff;
  margin-left: 60px;
}

.watch-button {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 30px;
  left: 60px;
  align-items: center;
  color: #fff;
  background: #e02c6d;
  height: 44px;
  width: 168px;
  justify-content: center;
}

.watch-button:hover {
  background-color: aqua;
  color: #2d25a0;
  transition: 1s ease-in-out;
}
.watch-button p {
  padding-top: 5px;
}
.watch-button .fa-arrow-right {
  padding-left: 10px;
  padding-top: 5px;
}

/* banner image  */

.banner-image img {
  width: 556.01px;
  height: 438px;
  position: relative;
  left: 150px;
  top: 50px;
}

.banner-image img:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}

.top-players {
  margin-left: 80px;
}
/* players */

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}

/* player  */
.player {
  background: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  width: 330px;
  height: 540px;
}

.player:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
  margin: 15px 0px;
}

.player img {
  width: 300px;
  height: 256px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.player-detail {
  align-items: center;
  width: 300px;
  height: 154px;

  text-align: justify;
  padding: 0px 10px;
}
.player-detail h3 {
  font-weight: bold;
  font-size: 25px;
}
.player-detail p {
  color: gray;
}

/* highlights */

.highlights {
  margin-bottom: 100px;
  margin-left: 50px;
  margin-top: 224px;
  display: flex;
}
/* highlights-info */
.highlights-info h1 {
  width: 469px;
  height: 120px;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}

.highlights-info p {
  width: 404px;
  height: 113px;
  line-height: 28px;
  font-size: 16px;
  color: #6c6c6c;
  flex-grow: 0;
  order: 1;
  margin: 8px 0px;
}

/* highlights button  */

.highlight-button {
  display: flex;

  align-items: center;
  color: #fff;
  background: #e02c6d;
  height: 44px;
  width: 168px;
  justify-content: center;
}

.highlight-button:hover {
  background-color: aqua;
  color: #2d25a0;
  transition: 1s ease-in-out;
}

.highlight-button h4 {
  padding-top: 5px;
  font-weight: normal;
}
.highlight-button .fa-arrow-right {
  padding-left: 10px;
  padding-top: 5px;
}

.match-image img {
  width: 567px;
  height: 427px;
  margin-left: 150px;
}

/* Host cities */

.host-citySection {
  background: #2d25a0;
}
.host-cities {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  margin-bottom: 100px;
}
.host-citySection h2 {
  font-size: 30px;
  font-family: cursive;

  padding-top: 20px;
}

.city {
  background: #3dbafd;
  height: 40vh;
  width: 360px;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  background-size: cover;
  text-align: center;
  margin-left: 20px;
  border-radius: 10px;
  border-bottom: 8px solid #e02c6d;
}

.city:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}

.city-title {
  color: #fff;
  padding-left: 20px;

  padding-top: 20px;
  text-align: center;
}
.city-title:hover {
  color: #e02c6d;
  transition: 1s ease-in-out;
}
.city p {
  padding: 0px 20px;
  color: #0d2650;
  text-align: justify;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Gallery heading  */
.gallery-section h2 {
  font-family: cursive;
  margin-bottom: 100px;
  padding-left: 20px;
  font-size: 30px;
}

/* Photo gallery  */

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
  row-gap: 10px;
}

.gallery img {
  width: 100%;
}

/* Sponsor */

.sponsor {
  margin-bottom: 50px;

  text-align: center;
}
/* Sponsor title  */
.sponsor h2 {
  color: #173562;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;

  text-align: center;
}

/* Sponsor image  */
.sponsor-name img {
  padding-top: 20px;
  margin-left: 10px;
}

/* footer  */

footer {
  background-image: url("images/footer-bg.png");
  width: 100%;
  height: 150vh;
  display: block;
  background-position: center;
  background-size: cover;
}

/* footer container  */
.footer-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 60px;
  padding-top: 70px;
  justify-content: space-evenly;
}
.footer-container img {
  max-width: 170px;
}

.footer-container a {
  text-decoration: none;
  color: #fff;
}

/* footer links  */

.footer-links {
  cursor: pointer;
  margin-left: 20px;
  line-height: 30px;
}

/* footer app */

.footer-app {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

/* footer title  */
.footer-title {
  color: #fff;
  font-size: 24px;
  cursor: auto;
}

/* footer app-link  */
.footer-app-link {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer-app-link img {
  margin-top: 10px;
}

.footer-copyright-container img {
  margin-top: 50px;
  margin-left: 530px;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 100px;
  background-color: white;
}

.footer-copyright-container p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  padding-left: 60px;
}

/* Social links  */

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
}

/* social icons  */

.social-icons {
  margin-left: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  color: gray;
}

/* Media queries */

/* for mobile  */
